<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>穷逼</title>
  <meta name="description" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport"
    content="width=device-width,initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="icon" type="image/jpeg" href="/asset/images/default.jpg" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@4.0.1/reset.min.css">
  <link rel="stylesheet" type="text/css" href="/asset/css/common.css" />
  <script type="text/javascript" src="/asset/js/jquery.js"></script>
  <script type="text/javascript" src="/asset/js/common.js"></script>
  <script type="text/javascript" src="/asset/js/jquery.simplePagination.js"></script>
</head>

<body>
  <div class="wrap">
    <h1 class="logo"><img src="/asset/images/qiongbi.gif" class="logo-img"><span class="logo-txt">穷逼</span></h1>
    <blockquote class="slogan">
      <p>“我是穷逼，人穷志短的傻逼，我自卑，我虚荣；我没钱，没梦想；没朋友，没爱情，更没有尊严。”</p>
      <p>“我穷困潦倒，我失意颓废，我人生一片灰暗。放下我卑贱的自尊，只求大爷您用金钱羞辱我，践踏我！”</p>
    </blockquote>
    <h2 class="alms-title">用金钱羞辱他</h2>
    <form name="donateForm" action="/donate" onsubmit="return checkSubmit()" method="post" class="alms-form">
      <p class="field">
        <label for="">大爷尊称</label>
        <span class="ui-input">
          <span class="inner">
            <input name="name" id="name" class="input-txt" type="text" placeholder="一个好人">
          </span>
        </span>
      </p>
      <p class="field">
        <label for="">您的邮箱</label>
        <span class="ui-input">
          <span class="inner">
            <input name="email" id="email" class="input-txt" type="email" placeholder="help@me.com">
          </span>
        </span>
        <span class="tips">以便与您取得联系</span>
      </p>
      <p class="field">
        <label for="">羞辱他几句</label>
        <span class="ui-input">
          <span class="inner">
            <textarea name="note" id="note" class="input-txt" id="" cols="60" rows="4"
              placeholder="好习惯的养成，在于不受坏习惯的诱惑。"></textarea>
          </span>
        </span>
      </p>
      <p class="field field-group amounts">
        <span class="amount first checked" data-amount="5">5<small class="currency">¥</small></span>
        <span class="amount" data-amount="8.88">8.88<small class="currency">¥</small></span>
        <span class="amount" data-amount="10">10<small class="currency">¥</small></span>
        <span class="amount" data-amount="20">20<small class="currency">¥</small></span>
        <span class="amount" data-amount="50">50<small class="currency">¥</small></span>
        <span class="amount custom">
          <span class="ui-input">
            <span class="inner">
              <input type="number" min="1" class="input-txt" id="customAmount" placeholder="其他金额">
            </span>
          </span>
        </span>
        <input type="hidden" name="amount" id="amount" value="5">
      </p>
      <p class="action"><button type="submit" class="btn-form"><span class="txt">践踏他的尊严</span></button></p>
      <div class="aside summary">
        <p>截至{{.now}}共{{.totalNum}}人<br>羞辱过本穷逼的金钱共计<span class="donation">{{.sum}} <small
              class="currency">¥</small></span>
        </p>
      </div>
    </form>

    <h2 class="alms-title alms-list-title">有钱就是爷</h2>
    <div class="alms-list">
      <ol class="list" role="main">
        {{range .trades}}
        <li itemscope itemtype="http://schema.org/Person">
          <p class='info'>
            <img itemprop="photo" src='https://gravatar.loli.net/avatar/{{.Email|md5}}/100'>
            <span class='fn' itemprop="name">{{.Name}}</span>于<time
              datetime='{{.UpdatedAt|ft}}'>{{.UpdatedAt|ft}}</time>向他捐赠<strong class='sum'>{{.Amount}}</strong>&yen;
          </p>
          <p class='says'><i class='qt-l'></i>{{if .Note}}{{.Note}}{{else}}该大爷默默的用金钱羞辱了穷逼，也不骂他两句。{{end}}<i
              class='qt-r'></i>
          </p>
        </li>
        {{end}}
      </ol>
      <p class="pages">
      </p>
    </div>
    <div class="aside about">
      <p>本站自卑的使用了全球<br>最落伍的程序语言开发<br><img src="/asset/images/go-logo-blue.svg" alt="" height="20"></p>
      <p class="statement">本站LOGO原型来自于网络<br>LOGO字体版权归造字工坊</p>

      <p class="copyright">&copy;&nbsp;2019&nbsp;穷逼</p>
    </div>
  </div>

  <div class="hide-clip">
    <!-- 可放统计脚本 -->
  </div>

  <script>
    $(".pages").pagination({
      items: parseInt('{{.totalPage}}'),
      itemsOnPage: parseInt('{{.totalPage}}') > 10 ? parseInt('{{.totalPage}}') : undefined,
      currentPage: parseInt('{{.currentPage}}'),
      prevText: '上一页',
      useAnchors: false,
      nextText: '下一页',
      onPageClick: (pageNumber, ev) => {
        window.location.href = '/?page=' + pageNumber
      },
    });
  </script>
</body>

</html>